@import url("https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  background-color: #252525;
  position: relative;
  box-sizing: border-box;
}

:root {
  --primary-color-light: #20242f;
  --secondary-color: #f49e09;
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --header-font: "Lisu Bosa", serif;
}




/*============================  navbar  ==============================*/


header {
  position: absolute; 
  top: 20px; 
   z-index: 1000;
  height: 68px;
  width: 100%;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 7rem;
  border-radius: 14px;
}

.nav-bar {
  margin: auto;
  padding: 15px 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 68px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.nav-logo h1 {
  font-size: 15px;
}

.nav-logo a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #6d6d6f;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  border-left: 2px solid white;
  line-height: 15px;
}

.nav-links li:first-child {
  border: none;
}

.link a {
  
  padding: 7px 20px;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
  border-radius: 20px;
}

.link a:hover {
  background-color: #6d6d6f;
}

.link span {
  padding: 1rem 0;
  color: var(--white);
  cursor: pointer;
}

.alpha a img {
  width: 45.32px;
  height: 38px;
  opacity: 0px;
}

.alpha a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
}


/*============================  end-navbar  ==============================*/







/*================================= page one ===============================*/

.header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header .one {
  width: 100%;
  height: 100%;
  background-image: url("./assists/header-left.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header .tow {
  width: 100%;
  height: 100%;
  background-image: url("./assists/header-right.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.but {
  position: absolute;
  bottom: 20px;
  text-align: center;
  border: 1px;
}

.we-are{
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.content-one{
  position: absolute;
  top: 50%;
  right: 6%;
  height: 113px;
  display: flex;
flex-direction: column;
align-items: end;
overflow-y: hidden;
transition: all .3s ease;
gap: 5px;
}




.header .one:hover .content-one{
  height: 270px;
  top: 30%;
  right: 30%;
  gap: 0;
}

.header .one:hover:hover h1{
  font-size: 42px;
}


.header .one:hover:hover h3{
  font-size: 20px;
}


.header .one:hover:hover p{
  margin-top: 10px;
}


.content-one h1{
  font-family: Tahoma;
  font-size: 56px;
  line-height: 75px;
  text-align: end;
  transition: all .3s ease;
}


.content-one h3{
  font-family: Tahoma;
  font-size: 24px;
  line-height: 28.13px;
  text-align: start;
  transition: all .3s ease;
}

.content-one p{
  font-family: Tahoma;
  font-size: 16px;
  line-height: 28.13px;
  text-align: end;
  width: 300px;
  margin-top: 20px;
  transition: all .3s ease;
  margin-top: 20px;
}



.content-tow{
  position: absolute;
  top: 40%;
  left: 4%;
height: 113px;
display: flex;
flex-direction: column;
align-items: end;
gap: 10px;
overflow-y: hidden;
transition: all .3s ease;
}




.content-tow h1{
  font-family: Tahoma;
  font-size: 56px;
  line-height: 75px;
  text-align: end;
  transition: all .3s ease;
}

.content-tow p{
  font-family: Tahoma;
  font-size: 16px;
  line-height: 28.13px;
  text-align: end;
  width: 300px;
  margin-top: 20px;
  transition: all .3s ease;
}


.content-tow h3{
  font-family: Tahoma;
font-size: 24px;
line-height: 28.13px;
text-align: end;
transition: all .3s ease;
}



.header .tow:hover .content-tow{
 height: 270px;
  top: 20%;
  left: 30%;
  gap: 0;
}

.header .tow:hover p{
  margin-top: 0;
}

.header .tow:hover h1{
  font-size: 42px;
}


.header .tow:hover h3{
  font-size: 20px;
}













.icon {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.icon i{
  color: #f49e09;
  font-size: 25px;
}





.but button {
  width: 195px;
  height: 54px;
  padding: 12px 18px;
  border-radius: 18px;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  backdrop-filter: blur(2px);

  box-shadow: 4px 4px 12px 0px #ffffff40 inset;
  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}


/*============================  end-one  ==============================*/





/*================================= page-tow ===============================*/

.tow{
  
  max-width: 100%;
  height: 100vh !important;
  overflow-y: hidden;
  position: relative;
}


.tow .container {
  max-width: 100%;
  margin: 0px 50px;
  height: 100vh;

  font-family: "Poppins", sans-serif;

}

.tow .container .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}



.tow .container .text h1{
font-size: 36px;
font-weight: 600;
line-height: 54px;
text-align: justify;
color: #00CFCD;


}

.tow .container .text p{
font-size: 16px;
font-weight: 400;
line-height: 27px;
text-align: justify;

}



.tow .container .pic {
  background-image: url("./assists/text-alpha.svg");
  height: 255px;
  max-width: 100%;
  position: static;

  margin-top: -95px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:30px;
  max-height: 240px;
}

.card {
  gap: 40px;
  background-color: #3a3a3a;
  border-radius: 20px;
  backdrop-filter: blur(13px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  box-shadow: inset 5px 5px 10px 0 rgba(125, 118, 118, 0.2);
 
}

.star{
border-radius: 12px;
background: #FFFFFF40;
display: flex;
align-items: center;
justify-content: center;
}


.star img{
  width: 60px;
height: 60px;
}

.card1 {
  margin-top: 60px;
  
}



/*============================  end-tow  ==============================*/




/*============================  page-three  ==============================*/


.three{
  width: 100%;
  height: 100vh;
  position: relative;
}

.three .pic-one{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.three .pic-3{
  width: 100%;
  height: 50%;
}



.three .pic-1{
  width: 50%;
  height: 100%;
  background-image: url("./assists/pic1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.three .pic-2{
  width: 50%;
  height: 100%;
  background-image: url("./assists/pic2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.three .pic-3{
  background-image: url("./assists/pic3.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}





.pic1-content{
  position: absolute;
  top: 40%;
  right: 11%;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
  transition: all .3s ease;
}




.pic1-content p{
  width: 300px;
  text-align: start;
  margin-top: 90px;
 
  transition: all .3s ease;
}

.pic1-content h2:nth-child(1){
  font-size: 78px;
  font-weight: 600;
  line-height: 90px;
  padding-left: 100px;
  transition: all .3s ease;
  }
  
  .pic1-content h2:nth-child(2){
    font-size: 78px;
    font-weight: 600;
    line-height: 90px;
    padding-left: 20px;
    transition: all .3s ease;
    }






    .three .pic-1:hover .pic1-content{
      top: 10%;
      right: 30%;
      padding-left: 0%;
      
      align-items: start;
    }
    
    .three .pic-1:hover p{
      margin-top: 0;
      
    }
    
    .three .pic-1:hover h2:nth-child(1){
      padding-left: 0%;
      font-size: 54px;
      line-height: 60px;
    }
    
    .three .pic-1:hover h2:nth-child(2){
      padding-left: 0%;
      font-size: 54px;
    }







    


.pic2-content{
  position: absolute;
  top: 40%;
  left: 11%;
  

  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  transition: all .3s ease;
}

.pic2-content p{
  width: 300px;
  text-align: start;
  margin-bottom: 50px;
  margin-top: 90%;
  transition: all .3s ease;
}

.pic2-content h2:nth-child(1){
font-size: 78px;
font-weight: 600;
line-height: 90px;
padding-left: 20px;
transition: all .3s ease;
}

.pic2-content h2:nth-child(2){
  font-size: 78px;
  font-weight: 600;
  line-height: 90px;
  padding-left: 70px;
  transition: all .3s ease;
  }











.three .pic-2:hover .pic2-content{
  top: 10%;
  left: 30%;
  padding-left: 0%;
}


.three .pic-2:hover p{
  margin-top: 0px;
  padding-bottom: 60px;
}


.three .pic-2:hover h2:nth-child(1){
  padding-left: 0%;
  font-size: 54px;
  line-height: 60px;
  padding-right: 0%;
}


.three .pic-2:hover h2:nth-child(2){
  padding-left: 0%;
  font-size: 54px;
}




.pic-3{
  position: relative;
  box-sizing: border-box;
}


.pic3-content{
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  padding-left: 16px;
  height: 200px !important;

  transition: all .3s ease;
  overflow-y: hidden;
}

.pic3-content h2{
font-size: 96px;
font-weight: 600;
line-height: 144px;
transition: all .3s ease;
}

.pic3-content .pos{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.pic3-content p{
  margin-top: 100px;
  transition: all .3s ease;
  width: 600px;
  text-align: center;
  height: 150px;
}


.pic-3:hover .pic3-content p{
  margin-top: 0;
}


.pic-3:hover .pic3-content h2{
  font-size: 68px;
  line-height: 122px;
}



.pic-3:hover .pic3-content {
  top: 8%;
}




.three .logo3{
  position: absolute;
  top: 35.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 364px;
  height: 305.2px;
}







/*============================  end-three  ==============================*/











/*============================  page-four  ==============================*/

.four .container{
  max-width: 100%;
  height: 100vh;
  margin: 0px 50px 0 0;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr 70%;;
}

.four .container .four-text{
max-width: 100%;
margin-top: 40px;
text-align: end;
}

.four-text .header-four{
  width: 100%;
height: 144px;

}

.four-text h1{
font-size: 96px;
font-weight: 600;
line-height: 144px;


}



.four-text .four-content{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  gap: 10px;
}

.four-text .four-content div{
width: 100%;
height: 109px;
gap: 0px;
border-radius: 18px;
background: #1A1A1A03;
border: 1px solid;
border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
display: flex;
justify-content: end;
align-items: center;
box-shadow: 0px 8px 24px 0px #FFFFFF0D inset;
padding: 20px;







}


.four-text .four-content div h2{
  
  text-align: end;
font-size: 36px;
line-height: 56.25px;

background: linear-gradient(172.93deg, rgba(255, 255, 255, 0.5) 5.85%, rgba(255, 255, 255, 0.25) 94.88%);
/* Clip the background to the text content */
-webkit-background-clip: text;
background-clip: text;
/* Hide the original text color */
-webkit-text-fill-color: transparent;
}


.four-text .four-content div img{
  width: 82px;
height: 96px;
padding: 20px 0px;


}


.four .container .four-background{
  background-image: url('./assists/page-four.svg');
  
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100vh;
  margin-top: -45px;
}











/*============================  end-four  ==============================*/


















/*======================================  media ===============================*/



@media(min-width: 1000px){
  .cards{
    margin-top: 100px;
  }

  .tow .container .text{
    margin-top: 40px;
  }
}



@media(max-width: 1070px){
 .content-one h1{
  font-size: 50px;
 }

 .content-tow h1{
  font-size: 50px;
 }

}
